// ======================================================
// Block Styles
// ============
.layer_text {
	margin-bottom: $global-margin-bottom;
	
	&--align_right {
        text-align: right;
    }

    &--align_center {
        text-align: center;
    }
}